{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}"> {% endcomment %}

{% endblock extra_css %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <h3>{{ page.subtitle }}</h3>

    {% comment %}
    IMAGES
    -c100 sets the cropping percentage
    {% endcomment %}
    {% image page.image fill-150x150  %}
    {% image page.image width-20 as custom_img  %}
    <img src="{{ custom_img.url }}" alt="{{ page.image.alt }}" class="custom-image" />

    {% comment %} dynamic image - generates just the url as a str gets created on-demand {% endcomment %}
    {% image_url page.image "fill-150x150|jpegquality-100" as custom_img2 %}
    <img src="{{ custom_img2 }}" alt="{{ page.image.alt }}" class="custom-image" />
    <p>{{ page.image.caption }}</p>

    {% comment %}
    DOCUMENTS
    {% endcomment %}
    {% if page.custom_document %}
        Document: <a href="{{ page.custom_document.url }}" download>{{ page.custom_document.title }}</a>
    {% endif %}

    {% comment %}
    CTA_URL

    - kind of messy because we want the title for this when external
    {% endcomment %}
    {% if page.get_cta_url %}
        <p>
            CTA:
        <a href="{{ page.get_cta_url }}" class="btn btn-primary">
            {% if page.cta_url %}
                {{ page.cta_url.title }}
            {% else %}
                {{ page.get_cta_url }}
            {% endif %}
            </a>
        </p>
    {% endif %}


    {% for orderable_obj in page.gallery_images.all %}
         {% image orderable_obj.image fill-150x150  %}
    {% endfor %}


    {% comment %}
    {% if page.custom_text %}
        <p>{{ page.custom_text }}</p>
    {% endif %}
    {% endcomment %}

    {% comment %}
    {% if page.custom_text %}
        <p>{{ page.custom_text|richtext }}</p>
    {% endif %}
    {% endcomment %}

    {% if page.body %}
        <p>{{ page.body|richtext }}</p>
    {% endif %}

    {% comment %}
    Delete the line below if you're just getting started and want to remove the welcome screen!
    {% endcomment %}
    {% include 'home/welcome_page.html' %}

{% endblock content %}
