[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<5.2,>=5.1"
wagtail = "<6.5,>=6.4"
wagtail-localize = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
