[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
wagtail-localize = "*"
cr = "*"
sentry-sdk = {extras = ["django"], version = "*"}
wagtail = "==7.1.1"

[dev-packages]

[requires]
python_version = "3.13"
