[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cr = "*"
django = "<5.3,>=5.2"
wagtail-localize = "==1.11.3"
sentry-sdk = {extras = ["django"], version = "==2.27.0"}
django-widget-tweaks = "*"
wagtail = "<7.3,>=7.2"

[dev-packages]

[requires]
python_version = "3.13"
