{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <style>
        .richtext {
            margin: 20px 0;
            max-width: 50%;
        }
        .richtext-image.thumbnail-150 {
            {% comment %} border: 10px solid #eee; {% endcomment %}
            box-shadow: 2px 2px 5px rgb(165, 164, 178);
            height: auto;
        }
    </style>


    <h1>{{ page.title }}</h1>
    <h3>{{ page.subtitle }}</h3>

    {% comment %} good practice to always wrap in richtext class so we can style
    <div class="richtext">
        {{ page.body|richtext }}
    <div>
    {% endcomment %}

    {% for block in page.body  %}
        {% if block.block_type == "image" %}
            {% image block.value fill-300x300 %}
        {% elif block.block_type == "doc" %}
            <a href="{{ block.value.url }}">{{ block.value.title }}</a>
        {% elif block.block_type == "page" %}
            {% comment %} <a href="{{ block.value.url }}">{{ block.value.title }}</a> {% endcomment %}
        {% elif block.block_type == "author" %}
            {% comment %} {{ block.value.name  }} {% endcomment %}
        {% elif block.block_type == "call_to_action_1" %}
            <div>
                <div class="rich-text">{{ block.value.text }}</div>
                <a href="{{ block.value.page.url }}" class="button">
                    {% if  block.value.button_text %}
                        {{ block.value.button_text }}
                    {% else %}
                        {{ block.value.page.title }}
                    {% endif %}
                </a>
            </div>
        {% elif block.block_type == "info" %}
        {% comment %} StaticBlock {% endcomment %}
            <div class="info" style="background-color: #eee; padding: 10px; margin: 20px 0;">
                danger
            </div>
        {% elif block.block_type == "faq" %}
            {% for faq in block.value %}
                <h2>{{ faq.question }}</h2>
                <div class="rich-text">{{ faq.answer|richtext }}</div>
            {% endfor %}

        {% endif %}
        {% comment %}
        {% if block.block_type == "text" %}
             {{ block.value }}
        {% elif block.block_type == "image" %}
            {% image block.value fill-800x400 %}
        {% elif block.block_type == "carousel" %}
            {% for slide in block.value %}
                {% if slide.block_type == "image" %}
                    {% image slide.value fill-800x400 %}
                {% elif slide.block_type == "quotation" %}
                    <p>
                        {{ slide.value.text }}<br />
                        &mdash; {{ slide.value.author }}
                    </p>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endcomment %}
    {% endfor %}

    <h3>Tags</h3>
    <ul>
        {% for tag in page.tags.all %}
            {# slug link is not implemented but we could do so #}
            <li>{{ tag.name }} (<a href="/news/?tag={{ tag.slug }}">{{ tag.slug }}</a>)</li>
        {% endfor %}
    </ul>

{% endblock %}