{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtail_cache %}

{% block content %}

{% image page.image width-1024 as header_image %}



<div class="">
        <!-- Main Content -->
        <div class="container mx-auto px-4 py-12 max-w-7xl">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
                <!-- News Content Section -->
<div
  class="hero min-h-[30vh] lg:col-span-3"
  style="background-image: url('{{ header_image.url }}'); {{ header_image.background_position_style }};"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-left w-full">
    <div class="rounded-2xl py-8 max-w-4xl w-full">
      <h1 class="mb-5 text-5xl font-bold">{{ page.title }}</h1>
      <h3 class="mb-5 text-2xl font-semibold">{{ page.subtitle }}</h3>
      <p class="mb-5">
        {{ page.intro|richtext }}
      </p>
    </div>
  </div>
</div>

                <div class="lg:col-span-3 space-y-6">
                    <div class="card bg-base-100 shadow-xl">
                        <div class="card-body prose max-w-none">
                            <!-- Title -->
                            <h2 class="card-title text-3xl text-primary mb-4">
                                {{ page.title}}
                            </h2>
                            <!-- Date -->
                            <div class="">
                              <div class="badge badge-neutral badge-outline">{{ page.first_published_at|date:"F j, Y" }}</div>
                            </div>
                            <!-- Author -->
                            {% if page.author.name %}
                            <div class="">
                              <p class="text-lg text-gray-700">Author: {{ page.author }}</p>
                            </div>
                            {% else %}
                              <div class=">
                                <p class="text-lg text-gray-700">{{ page.owner.first_name }} {{ page.owner.last_name }}</p>
                              </div>
                            {% endif %}

                            <div class="">

                              {{ page.body }}

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Program Info Sidebar -->
                <div class="lg:col-span-1">
                    <div class="sticky top-6 space-y-4">
                        <!-- Main Info Card -->
                        <div class="card bg-base-100 shadow-xl border-t-4 border-primary">
                            <div class="card-body">
                                <h2 class="card-title text-2xl justify-center text-primary mb-4">
                                    Other News Stuff
                                </h2>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>





{% comment %} <div class="">
{{ page.body }}
</div> {% endcomment %}
{% comment %} <div class="container mx-auto px-4 py-12 max-w-7xl">
        {% for block in page.body %}
            {% include_block block %}
        {% endfor %}
</div> {% endcomment %}

{% endblock %}