{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block body_class %}template-flexpage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}


    {% if page.image %}
        {% image_url page.image "original" as hero_img %}
        {% comment %} <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 min-w-screen" style="background-image: url({{ hero_img }})"> {% endcomment %}
        {% comment %} <div class="mx-auto py-6 sm:px-6 lg:px-8 min-w-screen" style="background-image: url({{ hero_img }})"> {% endcomment %}
        <div class="bg-cover bg-center " style="background-image: url({{ hero_img }});">
            <div class="px-4 py-6 sm:px-0 backdrop-brightness-50 bg-black/30">
                <div class="border-1 border-dashed border-gray-200 rounded-lg h-96 flex items-center justify-center">
                    <div>
                        <h1 class="block text-9xl font-extrabold text-white">PL<span class="text-red-500">AYSO</span>CCER</h1>
                        <h3 class="text-lg font-normal mb-5 text-slate-100">{{ page.subtitle }}</h3>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div>
        {{ page.body }}
    </div>



{% endblock content %}
