{% extends "base.html" %}
{% load static wagtailcore_tags wagtailsearchpromotions_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<h1>Search</h1>

<form action="{% url 'search' %}" method="get">
    <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
    <input type="submit" value="Search" class="button">
</form>

{% get_search_promotions search_query as search_promotions %}
{% if search_promotions %}
    <h1>Promoted Results</h1>
    <ul>
        {% for search_promotion in search_promotions %}
        <li>
            {% if search_promotion.page %}
                <h4><a href="{% pageurl search_promotion.page %}">{{ search_promotion.page.title }}</a></h4>
            {% else %}
                <h4><a href="{{ search_promotion.external_link_url }}">{{ search_promotion.external_link_text }}</a></h4>
            {% endif %}
            {% if search_promotion.description %}
                <p>{{ search_promotion.description }}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% if search_results %}
<h1>Results</h1>
<ul>
    {% for result in search_results %}
    <li>
        <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
        {% if result.search_description %}
        {{ result.search_description }}
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% if search_results.has_previous %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
{% endif %}

{% if search_results.has_next %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
{% endif %}
{% elif search_query %}
No results found
{% endif %}
{% endblock %}
