{% load wagtailcore_tags wagtailimages_tags %}

<section class="gradient-blue py-16 px-4 text-white">
    <div class="max-w-7xl mx-auto">
        <h2 class="text-4xl md:text-5xl font-extrabold text-center mb-6">
            {{ self.title }}
        </h2>

        {% if self.subtitle %}
        <p class="text-center text-gray-200 text-xl mb-12 max-w-3xl mx-auto">
            {{ self.subtitle }}
        </p>
        {% endif %}

        {% if programs %}
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for program in programs %}
                <a href="{{ program.url }}" class="card w-90 mx-auto shadow-sm card-program transition-all transform hover:-translate-y-1 fade-in cursor-pointer">
                    <figure class="bg-slate-800 gradient-dark p-5">
                        {% if program.logo %}
                            {% image program.logo height-150 %}
                        {% else %}
                            <div class="text-7xl h-[150px] flex items-center justify-center">⚽</div>
                        {% endif %}
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">
                            {{ program.title }}
                        </h2>
                        <p>{{ program.subtitle }}</p>
                        <div class="card-actions justify-end">
                            {% if program.ages %}
                            <div class="badge badge-outline">{{ program.ages }}</div>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        {% else %}
        <p class="text-center text-gray-300">
            No programs available at this time.
        </p>
        {% endif %}
    </div>
</section>
