
<div class="flex justify-center items-center">
    <blockquote class="text-slate-500 prose">
        <p>AYSO’s Six Philosophies are principles that separate AYSO from other sports organizations. These tenets were created to provide a positive, fair and fun soccer experience for all our players.</p>
    </blockquote>
</div>

<div class="p-4 shadow-md rounded-t-lg roun border mb-1 border-gray-900 bg-slate-900 text-white">
    <h1 class="text-3xl font-bold mb-2 text-teal-300">AYSO's Six Philosophies</h1>
</div>
    <div class="flex justify-center items-center ">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">

        <div class="p-4 shadow-md rounded-lg border border-gray-900 bg-teal-900 text-white">
            <h2 class="text-xl font-bold mb-2 text-teal-300">Everyone Plays®</h2>
            <p>AYSO’s goal is for kids and adults to play soccer, so we mandate that every player on every team must play at least 50 percent of every game.</p>
        </div>

        <div class="p-4 shadow-md rounded-lg border border-gray-900 bg-teal-900 text-white">
            <h2 class="text-xl font-bold mb-2 text-teal-300">Balanced Teams</h2>
            <p>Each year we form new teams as evenly balanced as possible, providing a stronger learning experience for teams as they play teams comprised of similar ability. It also allows for each player to experience playing with a wide variety of teammates of different skill levels.</p>
        </div>

        <div class="p-4 shadow-md rounded-lg border border-gray-900 bg-teal-900 text-white">
            <h2 class="text-xl font-bold mb-2 text-teal-300">Open Registration</h2>
            <p>If you want to play soccer, AYSO welcomes you and gives all youth and adults the opportunity to register and play.</p>
        </div>

        <div class="p-4 shadow-md rounded-lg border border-gray-900 bg-teal-900 text-white">
            <h2 class="text-xl font-bold mb-2 text-teal-300">Positive Coaching</h2>
            <p>A coach can be one of the most influential people in a player’s life, so AYSO requires they create a positive experience for every player in AYSO. Additionally, encouraging player’s effort leads to greater enjoyment, improved skills and stronger motivation in players.</p>
        </div>

        <div class="p-4 shadow-md rounded-lg border border-gray-900 bg-teal-900 text-white">
            <h2 class="text-xl font-bold mb-2 text-teal-300">Good Sportsmanship</h2>
            <p>We strive to create a positive environment based on mutual respect rather than a win-at-all-costs attitude, and our programs are designed to instill good sportsmanship in every facet of AYSO.</p>
        </div>

        <div class="p-4 shadow-md rounded-lg border border-gray-900 bg-teal-900 text-white">
            <h2 class="text-xl font-bold mb-2 text-teal-300">Player Development</h2>
            <p>All players should be able to develop their soccer skills and knowledge to the best of their abilities, both individually and as members of a team, to maximize their enjoyment of the game.</p>
        </div>

    </div>
</div>










