{% load wagtailcore_tags %}

<div class="hero gradient-blue relative overflow-hidden min-h-[30vh]">
  <div class="hero-pattern absolute inset-0"></div>
  <div class="hero-content text-center text-white relative z-10 hero-animated">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">{{ cta.title }}</h1>
        <div class="py-6">
          {{ cta.text | richtext }}
        </div>
        <button class="btn btn-primary">{{ cta.button_text }}</button>
      </div>
    </div>
  </div>
</div>
